<div class="navContainer">
  <div class="photoContainer">
    <img [src]="fullImagePath" alt="scissors">
  </div>
  <div class="listContainer">
    <ul class="myList">
      <li [routerLink]="['/appointments']"><h4 class="nav-item">Appointments</h4></li>
      <li [routerLink]="['/customerProfile']"><h4 class="nav-item">{{name}}</h4></li>
      <li [routerLink]="['/messages']"><h4 class="nav-item">Messages</h4></li>
      <li (click)="handleLogout()"><h4 class="nav-item">Log out</h4></li>
    </ul>
  </div>
</div>


