<div class="wrapper">
  <div class="profileContainer">
    <div class="photoContainer">
      <img class="profileImage" [src]="image_url"/>
    </div>
  </div>
  <div class="infoContainer">
    <h5>{{name}}</h5>
    <h6 class="glyphicon glyphicon-time"> Date: {{time}}</h6>
    <h6 class="glyphicon glyphicon-earphone"> Contact: {{phoneNumber}}</h6>
    <h6 class="glyphicon glyphicon-envelope"> Location: {{location}}</h6>
  </div>
  <div class="buttonContainer">
    <button class="btn-invis" *ngIf="!!isCancel">asdfd</button>
    <button class="btn-yellow" *ngIf="!!isAccept" (click)="handleAccept.emit()">Accept</button>
    <button class="btn-cancel" *ngIf="!!isDecline" (click)="handleDecline.emit()">Decline</button>
    <button class="btn-yellow" *ngIf="!!isReady" (click)="handleComplete.emit()">Get paid!</button>
    <button class="btn-cancel" *ngIf="!!isCancel" (click)="handleCancel.emit()">Cancel</button>
    <button class="btn-cancel" *ngIf="!!isPay" (click)="handlePayment.emit()">Pay</button>
    <button class="btn-cancel" *ngIf="!!isCancelComplete || !!isConfirmed" (click)="handleCancelComplete.emit()">Cancel</button>
    <button class="btn-cancel" *ngIf="!!isHistory" (click)="handleClearHistory.emit()">Clear</button>
  </div>
</div>
