.componentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

h1 {
  padding-bottom: 4rem;
}

.title {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.nameContainer {
  flex: 1 1 60%;
  align-items: right;
  display: flex;
  justify-content: center;
}

h4:hover {
  color: #e8e8e8;
  cursor: pointer;
}

.spanContainer {
  flex: 1 1 40%;
  display: flex;
  justify-content: center;
}

.spanContainer span {
  cursor: pointer;
}

.spanContainer span:hover {
  color: red;
}

button {
  background-color: rgba(173, 216, 230, 0.9);
  border-radius: 10px;
}