.componentWrapper {
  display: flex;
  flex-direction: column;
  background-color: black;
  background-image: url('http://cdn.wallpapersafari.com/44/5/HQjIBU.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  /*font-family: 'Montserrat', sans-serif;*/
  /*font-family: "Avenir Next"*/
}

.header {
  height: 25%;
  padding-top: 11rem;
  margin-left: 2rem;
  margin-right: 2rem;
  width: 85%;
  align-self: center;
}

.loginWrapper {
  display: flex;
  flex-direction: row;
  margin-top: 7em;
  /*margin-left: 2em;*/
  margin-right: 7em;
  height: 40vh;
  width: 85%;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.flexItem {
  flex: 1 1 49%;
  height: 100%;
  width: 50%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1em;
}

.flexItem p {
  font-family: "Avenir Next";
  color: #E9E7E7;
  font-size: 18px;
  width: 80%;
}

.flexItem input {
  font-family: "Avenir Next";
  font-weight: 600;
  background-color: white;
  color: black;
  width: 200%;
  height: 4rem;
}

.loginButtons {
  background: rgba(255,255,255,0.4);
  /*padding: 1em;*/
  /*margin-bottom: ;*/
  /*padding-left: 6em;*/
  padding-right: 12em;
  height: 100%;
  border-radius: 4px;
}

.loginButtons h5 {
  font-family: "Avenir Next";
  font-weight: 600;
  font-size: 18px;
}

.flexItem * > {
  flex: 1 1;
  margin-top: 1em;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
  height: 85%;
  width: 100%;
  margin-right: 3em;
}

p {
  margin-right: 2em;
}

button {
  background-color: #F9B71A;
  width: 100%;
  height: 60%;
  border-radius: 20px;
  margin-top: 1em;
  border: 1px solid #F9B71A;
}

button:hover {
  background-color: #ffc232;
  border: 1px solid #ffc232;
}

button:active {
  background-color: #d39b15;
  border: 1px solid #d39b15;
  color: #ffe62d;
}

button:focus {
  outline: none;
}

h6 {
  color: #ff6d6d;
}

a {
  align-self: flex-end;
  margin-right: 14em;
  color: #F9B71A;
  font-family: "Avenir Next";
  font-weight: 600;
  font-size: 14px;
  /*border-bottom: 1px solid #F9B71A;*/
}

a:hover {
  color: white;
  /*border-bottom: 1px solid white;*/
  text-decoration: none;
}
